#map-placeholder svg .hovers path:hover{
  visibility:visible;
}

#map-placeholder svg .hovers  path{
  visibility:hidden;
  pointer-events:all;
}

#map-placeholder svg .clubs path:hover{
  fill:lightblue !important;
}

#map-placeholder svg .clubs  path{
  visibility:visible;
  pointer-events:all;
}

#map-placeholder svg {
  max-width: 100%;
  max-height: 100%;
}

#map-placeholder {
  background-color:  rgba(248, 249, 250)
}

#map {
  height: 600px;
}

#schedule-placeholder .section-subheading{
  padding-bottom: 30px;
}

.img-brand {
  filter: saturate(0);
}

.img-brand:hover {
  filter: saturate(1);
}

svg g .dimmed{
  filter: saturate(0);
}

svg g .dimmed.spinner-grow{
  filter: saturate(1);
}

@media only screen and (max-width: 600px) {
  .img-brand {
    filter: saturate(1);
  }
}

@keyframes spinner-grow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }

}